
  <h2 >My first Gridsystem <small style="color: darkgray">Yeah!</small></h2>

  <div class="container">

    <div class="row" id="colorrow">
      <div class="col-sm-4" style="background-color: darksalmon">1.</div>
      <div class="col-sm-4" style="background-color: azure">2.</div>
      <div class="col-sm-4" style="background-color: antiquewhite">3.</div>
    </div>


  <div class="btn-group">
    <button type="button" class="btn ">Sony</button>
    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
    </button>

  <div class="btn-group">
    <button type="button" class="btn">Test Button</button>
    <button type="button" class="btn">Test Button</button>
  </div>

